.link{
    font-weight: 600 !important;
    font-size: 14px !important;
     
}


.cursor{
    cursor: pointer;
}

.cart-count{
    font-size: 12px;
    position: relative;
    left: -15px; 
    top: -18px;   
}
