<div class="container mt-2 py-2 shadow-sm w-75">
    <ul class="nav d-flex justify-content-around cursor">
        <li class="nav-item">
            <a class="nav-link">
                <img class="d-block m-auto" height="50" src="https://www.medibuddy.in/assets/services/doctor.svg"
                    alt="">
                <span class="link">Talk to Doctor</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img class="d-block" height="50" src="https://www.medibuddy.in/assets/services/medicine.svg" alt="">
                <span class="link">Medicine</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <img class="d-block m-auto" height="50" src="https://www.medibuddy.in/assets/services/consulation.svg"
                    alt="">
                <span class="link">Book Dr Appointment</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <img class="d-block m-auto" height="50" src="https://www.medibuddy.in/assets/services/labtest.svg"
                    alt="">
                <span class="link">Lab Test & Packages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <img class="d-block m-auto" height="50" src="https://www.medibuddy.in/assets/services/surgery.svg"
                    alt="">
                <span class="link">Surgery</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <img class="d-block m-auto" height="50" src="https://www.medibuddy.in/assets/services/mb-gold.svg"
                    alt="">
                <span class="link">Medlab Gold</span>
            </a>
        </li>
    </ul>
</div>

<div class="container mt-4 w-75 border py-3 rounded-pill shadow-sm">
    <ul class="nav d-flex justify-content-around">
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold">Consult with Top Doctors Online, 24x7</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border p-2 px-5 rounded-pill">Start Consultation <i class="bi bi-arrow-right mx-2 fs-5"></i></a>
        </li>
    </ul>
</div>